Repository Geoxor/Shaii, pull requests merged in 2021-08, with the labels that each got.

#4 added decode morse and edited test script
  assets/morseCodeTable.json
  assets/morseCodeTableReverse.json
  commands/decode.sakuria.ts
  commands/mors.sakuria.ts
  logic/logic.sakuria.ts
  tests/logic.test.ts
Labels: enhancement, tests

#5 added uwuify command
  commands/uwuify.sakuria.ts
  logic/logic.sakuria.ts
  package-lock.json
Labels: enhancement, tests

#9 Add files via upload
  assets/waifus/asuka_langley.png
Labels: assets

#8 Update: Asuka Langley Soryu (TEST)
  assets/waifus.json
Labels: assets

#10 Create Akeno.png
  assets/waifus/Akeno.png
Labels: assets

#12 I am stopid
  assets/waifus.json
  assets/waifus/Akeno.png
  assets/waifus/Asia(dxd).png
  assets/waifus/Koneko(dxd).png
  assets/waifus/Rias gremory.png
  assets/waifus/Xenovia Quarta.png
  assets/waifus/astolfo.png
  assets/waifus/vladi(dxd).png
Labels: assets

#14 Added critical chance/multiplier & Added (optional) armor attribute t…
  assets/waifus.json
  assets/waifus/azurlane/Ajax.png
  assets/waifus/azurlane/Akagi New Year.png
  assets/waifus/azurlane/Akagi.png
  assets/waifus/azurlane/Atago.png
  assets/waifus/azurlane/Ayanami.png
  assets/waifus/azurlane/Graf Spee HMS.png
  assets/waifus/azurlane/Graf Spee USS.png
  assets/waifus/azurlane/Honolulu Summer.png
  assets/waifus/azurlane/Honolulu Umbrella Girl.png
  assets/waifus/azurlane/Honolulu.png
  assets/waifus/azurlane/Kaga Everlasting Killing Stone.png
  assets/waifus/azurlane/Kaga New Year.png
  assets/waifus/azurlane/Kaga.png
  assets/waifus/azurlane/New Jersey Exhilarating Step.png
  assets/waifus/azurlane/New Jersey.png
  assets/waifus/azurlane/USS Hammann.png
  assets/waifus/azurlane/Yuudachi.png
  logic/logic.sakuria.ts
  sakuria/Waifu.sakuria.ts
  sakuria/WaifuBattle.sakuria.ts
  types.ts
Labels: assets, enhancement

#22 added sphere and cylinder transfrom
  src/logic/3DRenderer.sakuria.ts
  src/logic/imageProcessors.sakuria.ts
Labels: image processors

#24 use type-safe defineCommand
  src/commands/economyGames/battle.sakuria.ts
  src/commands/economyGames/inventory.sakuria.ts
  src/commands/economyGames/stats.sakuria.ts
  src/commands/fun/anime.sakuria.ts
  src/commands/fun/ask.sakuria.ts
  src/commands/fun/decode.sakuria.ts
  src/commands/fun/dicksize.sakuria.ts
  src/commands/fun/match.sakuria.ts
  src/commands/fun/mors.sakuria.ts
  src/commands/fun/say.sakuria.ts
  src/commands/fun/trace.sakuria.ts
  src/commands/fun/uwufy.sakuria.ts
  src/commands/imageProcessors/transform.sakuria.ts
  src/commands/moderation/clear.sakuria.ts
  src/commands/moderation/kick.sakuria.ts
  src/commands/musicPlayer/nowPlaying.sakuria.ts
  src/commands/musicPlayer/play.sakuria.ts
  src/commands/musicPlayer/shuffle.sakuria.ts
  src/commands/musicPlayer/skip.sakuria.ts
  src/commands/utility/avatar.sakuria.ts
  src/commands/utility/help.sakuria.ts
  src/commands/utility/invite.sakuria.ts
  src/commands/utility/ping.sakuria.ts
  src/types.ts
Labels: improvement

#29 improved performance by only quantizing once & using gifenc
  package-lock.json
  package.json
  src/logic/3DRenderer.sakuria.ts
  src/logic/imageProcessors.sakuria.ts
Labels: image processors, improvement

#30 progress bars
  package-lock.json
  package.json
  src/assets/models/trolley.json
  src/logic/3DRenderer.sakuria.ts
  src/logic/imageProcessors.sakuria.ts
  src/sakuria/Logger.sakuria.ts
  src/types.ts
Labels: image processors, improvement

#31 added more fun facts
  src/assets/funFacts.json
Labels: assets

#39 no more duplicate users and regex only used once
  src/commands/fun/dicksize.sakuria.ts
Labels: improvement

#41 no more duplicate users
  src/commands/fun/dicksize.sakuria.ts
Labels: improvement

#42 added return :trollcrazy:
  src/commands/fun/dicksize.sakuria.ts
Labels: bug
